argparse
easydict
einops
git+https://github.com/erikwijmans/Pointnet2_PyTorch.git#egg=pointnet2_ops&subdirectory=pointnet2_ops_lib
h5py
matplotlib
numpy
open3d
opencv-contrib-python
pyyaml
scipy
tensorboard
tensorboardX
timm
tqdm
transforms3d