argparse
easydict
h5py
matplotlib
numpy
open3d 
opencv-python
pyyaml
scipy
tensorboardX
timm 
tqdm
transforms3d
einops
git+https://github.com/erikwijmans/Pointnet2_PyTorch.git#egg=pointnet2_ops&subdirectory=pointnet2_ops_lib